<div class="top center">
    <h3>locationCheckr Info</h3>
</div>




<div class="action-container">
    
    <a title="Map View">
        <div class="action-btn" ng-click="mapView()">
            <i class="fa fa-map-o"></i>
        </div>
    </a>

    <a title="Connect">
        <div class="action-btn">
            <i class="fa fa-plus" ng-click="connectView()"></i>
        </div>
    </a>
    
        <div class="action-btn">
            <i class="fa fa-info"></i>
        </div>
        
    <a href="/auth/logout" title="Sign Out">
        <div class="action-btn">
            <i class="fa fa-sign-out"></i>
        </div>
    </a>
</div>