<div class="top">
    <div class="toggle-container" ng-hide="toggleSwitch">
        <i class="fa fa-toggle-on fa-3x" ng-click="stop()"></i>
        <h5>Location Sharing <span class="green">&nbsp;ON</span></h5>
    </div>
    <div class="toggle-container" ng-show="toggleSwitch">
        <i class="fa fa-toggle-off fa-3x" ng-click="broadcastMyLocation()"></i>
        <h5>Location Sharing <span class="red">&nbsp;OFF</span></h5>
    </div>
</div>

<div class="map-container" id="map">
    <div class="loading-info" ng-show="loading">
        <i class="fa fa-spinner fa-3x fa-pulse"></i>
        <br>
        <br>
        <h4>Finding your location ...</h4>
    </div>
</div>

<div class="action-container">
    <div class="action-btn">
    </div>

    <div class="action-btn">
    </div>

    <div class="action-btn">
    </div>
    <div class="action-btn">
    </div>
</div>