<div class="top">
    <div class="toggle-container" ng-hide="toggleSwitch">
        <i class="fa fa-toggle-on fa-3x" ng-click="stop()"></i>
        <h5>Location Sharing <span class="green">&nbsp;ON</span></h5>
    </div>
    <div class="toggle-container" ng-show="toggleSwitch">
        <i class="fa fa-toggle-off fa-3x" ng-click="broadcastMyLocation()"></i>
        <h5>Location Sharing <span class="red">&nbsp;OFF</span></h5>
    </div>
</div>

<div class="map-container" id="map">
    <div class="loading-info" ng-show="loading">
        <i class="fa fa-spinner fa-3x fa-pulse"></i>
        <br>
        <br>
        <h4>Finding your location ...</h4>
    </div>
</div>


<div class="action-container">

    <a title="List View">
        <div class="action-btn" ng-click="listView()">
            <i class="fa fa-bars"></i>
        </div>
    </a>

    <a title="Search">
        <div class="action-btn">
            <i class="fa fa-search" ng-click="searchView()"></i>
        </div>
    </a>
    
    <a title="Info">
        <div class="action-btn">
            <i class="fa fa-info" ng-click="infoView()"></i>
        </div>
    </a>
    
    <a href="/auth/logout" title="Sign Out">
        <div class="action-btn">
            <i class="fa fa-sign-out"></i>
        </div>
    </a>
</div>