* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 1px solid #fff;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
}

.top {
    margin: 0 auto;
    width: 99%;
    max-width: 1500px;
    height: 50px;
}

.toggle-container {
    display: inline-block;
    height: 100%;
    margin-left: 10px;
}

    .fa-toggle-on, .fa-toggle-off {
        cursor: pointer;
    }
    
    .toggle-container h5 {
        font-weight: 100;
        font-size: 14px;
        display: inline-block;
        vertical-align: top;
        padding: 14px;
    }
    
    .green {
        color: seagreen;
        font-weight: 800;
    }
    
    .red {
        color: #ED6464;
        font-weight: 800;
    }

.action-btn {
    border: 1px solid dodgerblue;
    border-radius: 14px;
    height: 35px;
    width: 120px;
    display: inline-block;
    margin-right: 18px;
    margin-top: 6px;
    cursor: pointer;
}

.map-container {
    width: 99%;
    max-width: 1500px;
    height: 80%;
    margin: 0px auto;
    border-radius: 10px;
}

.loading-info {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

    .loading-info h4 {
        font-weight: 400;
        font-size: 16px;
        color: #333;
        letter-spacing: 1px;
    }