* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height:100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    /*border: 1px solid #fff;*/
}

p {
    margin: 0;
}

a { 
    text-decoration: none;
    color: #333;
}

.right{ 
    float: right;
}

a:visited { 
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
}

.login-wrapper {
    height: 100%;
    width: 100%;
    background: url('./assets/map5-compressor.jpg');
    background-size: cover;
}

.login-container {
    width: 280px;
    height: 295px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 20px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    box-shadow: 0px 0px 10px #333;
}

.main-img {
    /*border: 1px solid red;*/
    width: 100%;
    margin: 0 auto;
    margin-top: 3px;
}

    .main-img img {
        width: 260px;
        /*border: 1px solid blue;*/
        margin-bottom: -10px;
    }

    .login-container h1 {
        color: rgba(0, 0, 0, 1);
        font-size: 36px;
        text-align: center;
        cursor: default;
    }
    
.google-btn {
    width: 255px;
    height: 60px;
    background: #ED6464;
    border-radius: 14px;
    margin: 7px auto;
}

.google-btn:hover {
    box-shadow: 0px 0px 4px #aaa;
}

    .google-btn h4 {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        padding-top: 17px;
        letter-spacing: 0.5px;
}

.top {
    width: 99%;
    /*max-width: 1500px;*/
    height: 50px;
    margin-top: 4px;
}

.head-wrapper {
    height: 120px;
    position: fixed;
    right: 0;
    z-index: 999;
}

.toggle-container {
    height: 80%;
    margin-top: 2px;
    margin-right: 25px;
    float: right;
    padding: 0 10px;
    border: 1px solid #333;
    border-radius: 40px;
    background: #fff;
}

    .fa-toggle-on, .fa-toggle-off {
        cursor: pointer;
        margin-top: 0px;
    }
    
    .toggle-container h5 {
        font-weight: 100;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        padding: 12px 7px 0 7px;
        cursor: default;
    }
    
    .green {
        color: seagreen;
        font-weight: 800;
    }
    
    .red {
        color: #ED6464;
        font-weight: 800;
    }
    
.action-container {
    width: 100%;
    height: 60px;

    background: none;
    text-align: center;
    z-index: 9999999;
}

.btns {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
    float: right;
}

.action-btn {
    border: 1px solid #333;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    display: inline-block;
    margin-right: 9px;
    margin-left: 9px;
    margin-top: 11px;
    cursor: pointer;
    vertical-align: top;
    background: #FFF;
}

.active {
    border: 1px solid #555;
    box-shadow: 0 0 3px #555;
}

.action-btn:hover {
     box-shadow: 0 0 3px #555;
}

    .action-btn .fa  {
        margin: 10px 0px 0 0;
    }
    
.map-container {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

.loading-info {
    width: 100%;
    text-align: center;
}

    .loading-info h4 {
        font-weight: 400;
        font-size: 16px;
        color: #333;
        letter-spacing: 1px;
    }
    
/* LIST VIEW */

.list-view-wrapper {
    height: 100%;
    width: 100%;
    background: url('./assets/map7-compressor.jpg');
    background-size: cover;
}

.top h3 {
    font-size: 24px;
    font-weight: 100;
    line-height: 38px;
}

.center {
    text-align: center;
}

.fa-circle {
    color: green;
    font-size: 12px;
    vertical-align: top;
    line-height: 40px;
    margin-right: 8px;
}

#red {
    color: #ED6464;
}

.title {
    border: 1px solid #333;
    background: #FFF;
    width: 270px;
    height: 40px;
    border-radius: 40px;
    margin: 0 auto;
}

    .sub-title {
        margin-top: 60px;
    }

.list-container {
    width: 430px;
    margin: 10px auto;
    /*border: 1px solid rebeccapurple;*/
}

.list-view-item {
    border: 1px solid #333;
    border-radius: 40px;
    width: 100%;
    height: 70px;
    margin: 16px auto;
    background: #FFF;
}

    .list-view-item h5 {
        text-align: center;
        font-size: 14px;
        font-weight: 100;  
    }
    
#no-connections-online {
        text-align: center;
        font-size: 14px;
        font-weight: 100; 
        line-height: 65px;   
}
    
.row {
    width: calc(100% - 30px);
    height: 100%;
    margin-left: 4px;
    /*border: 1px solid red;*/
}

.img-container-list-view {
    width: 65px;
    /*border: 1px solid green;*/
    text-align: center;
    display: inline-block;
}

    .img-container-list-view img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: 4px;
    }
    
.small-row {
    width: calc(100% - 65px);
    /*border: 1px solid pink;*/
    float: right;
    margin: 13px 0 0 0px;
}
   
    .small-row h5 {
        font-size: 18px;
        font-weight: 400;
        padding-left: 10px;
        text-align: left;
        cursor: pointer;
    }
    
    .small-row h6 {
        font-size: 12px;
        font-weight: 100;
        padding-left: 10px;
        cursor: pointer;
    }
    
    /* CONNECT VIEW */
    
.connect-view-wrapper {
    height: 100%;
    width: 100%;
    background: url('./assets/map8-compressor.jpg');
    background-size: cover;
    
    
}

.connection-invitations {
    margin: 20px auto;
    /*border: 1px solid orange;*/
    height: auto;
    overflow: auto;
    width: 400px;
}

.invite-list-row {
    width: 100%;
    height: 30px;
    /*border: 1px solid red;*/
    /*padding-left: 10px;*/
}

.split {
    height: 100%;
    display: inline-block;
    /*border: 1px solid blue;*/
    float: right;
    width: calc(100% - 20px);
}

.split-plus {
    float: left;
    width: 20px;
    
}

.gen-container {
    width: 100%;
    text-align:center;
    margin: 40px 0;
    /*border: 1px solid darkturquoise;*/
}

.search-container {
    margin: 14px auto;
    width: 500px;
    height: 60px;
    /*border: 1px solid rebeccapurple;*/
    border-radius: 30px;
}

    .accept-connect-row .fa-plus {
        color: green;
        cursor: pointer;
        vertical-align: top;
        margin-top: 5px;
    }

    .accept-connect-row h5 {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        display: inline-block;
    }
    
    h5 span {
        font-weight: 400;
    }

.no-row-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}
    
.input-holder {
    margin: 0px auto;
    width: 330px;
    height: 28px;
    border: 1px solid #bbb;
    border-radius: 5px;
    display: inline-block;
    
}
    
    .input-holder input {
        width: 98%;
        border: none;
        font-size: 14px;
        font-weight: 100;
        padding-top: 3px;
        padding-left: 7px;
        font-family: 'Open Sans', sans-serif;   
    }
    
    input:focus {
        outline: 0 none;
    }
    
.add {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: -2px 0 0 0; 
}
    
.plus {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 7px 0 0 7px;
    color: #333;
}

    .plus .fa-plus-square-o {
        cursor: pointer;
    }
    
    .plus .fa-check {
        color: green;
    }
        
    
    
    
    
    /* MEDIA QUERIES */
    
@media (max-width:650px){
    
    .head-wrapper {
        text-align: center;
        width: 100%;
    }
    
    .btns {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    
    .toggle-container {
        width: 260px;
        margin: 0 auto;
        float: none;
    }
    
    .list-container {
        width: 70%;
    }
    
    .search-container {
        width: 95%
    }
    
    .connection-invitations {
        width: 90%;
    }
    
    .input-holder {
        width: 65%;
    }
    
    .small-row h5 {
        font-size: 14px;
    }
    
    .small-row h6 {
        font-size: 10px;
    }
    
    .small-row {
        margin: 16px 0 0 0;
    }

}
    