* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height:100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    /*border: 1px solid #fff;*/
}

p {
    margin: 0;
}

a { 
    text-decoration: none;
    color: #333;
}

a:visited { 
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
}

/*.login-container {
    border: 1px solid #FFF;
    border-radius: 10px;
    /*width: 300px;*/
    /*height: 150px;*/
    /*margin: 0 auto;
}*/

    /*.login-container h1 {
        color: #FFF;
        font-size: 64px;
        font-weight: 100;
        letter-spacing: 1px;
        text-align: center;
    }*/

.top {
    width: 99%;
    max-width: 1500px;
    height: 50px;
}

.toggle-container {
    display: inline-block;
    height: 100%;
    margin-left: 10px;
}

    .fa-toggle-on, .fa-toggle-off {
        cursor: pointer;
        margin-top: 2px;
    }
    
    .toggle-container h5 {
        font-weight: 100;
        font-size: 14px;
        display: inline-block;
        vertical-align: top;
        padding: 15px;
    }
    
    .green {
        color: seagreen;
        font-weight: 800;
    }
    
    .red {
        color: #ED6464;
        font-weight: 800;
    }
    
.action-container {
    width: 100%;
    height: 50px;
    /*border: 1px solid green;*/
    text-align: center;
}

.action-btn {
    border: 1px solid #333;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    display: inline-block;
    margin-right: 18px;
    margin-top: 7px;
    cursor: pointer;
}

.action-btn:hover {
     box-shadow: 0 0 2px #444;
}

    .action-btn .fa  {
        margin: 10px 0px 0 0;
    }
    
.map-container {
    width: 100%;
    max-width: 1500px;
    height: 87%;
    margin: 0px auto;
}

.loading-info {
    width: 100%;
    text-align: center;
}

    .loading-info h4 {
        font-weight: 400;
        font-size: 16px;
        color: #333;
        letter-spacing: 1px;
    }
    
/* LIST VIEW */

.top h3 {
    font-size: 24px;
    font-weight: 100;
    line-height: 62px;
}

.center {
    text-align: center;
}

.fa-circle {
    color: green;
    font-size: 12px;
    vertical-align: top;
    line-height: 64px;
    margin-right: 8px;
}

.list-container {
    width: 460px;
    margin: 16px auto;
    /*border: 1px solid rebeccapurple;*/
}

.list-view-item {
    /*border: 1px solid blue;*/
    width: 100%;
    height: 70px;
    margin: 10px auto;
}
    
.row {
    width: calc(100% - 30px);
    height: 100%;
    margin-left: 30px;
    /*border: 1px solid red;*/
}

.img-container-list-view {
    width: 65px;
    /*border: 1px solid green;*/
    text-align: center;
    display: inline-block;
}

    .img-container-list-view img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: 4px;
    }
    
.small-row {
    width: calc(100% - 65px);
    /*border: 1px solid pink;*/
    float: right;
    margin: 13px 0 0 0px;
}
   
    .small-row h5 {
        font-size: 18px;
        font-weight: 400;
        padding-left: 10px;
    }
    
    .small-row h6 {
        font-size: 12px;
        font-weight: 100;
        padding-left: 10px;
    }
    
    /* CONNECT VIEW */
    
.connection-invitations {
    margin: 20px auto;
    /*border: 1px solid black;*/
    width: 500px;
}

.invitations-list {
    width: 100%;
    /*border: 1px solid dodgerblue;*/
}

.invite-list-row {
    width: 100%;
    height: 30px;
    /*border: 1px solid red;*/
    padding-left: 30px;
}

.search-container {
    margin: 14px auto;
    width: 500px;
    height: 240px;
    /*border: 1px solid rebeccapurple;*/
    border-radius: 30px;
}

    .invite-list-row .fa-plus {
        color: green;
        cursor: pointer;
}

    .invite-list-row h4 {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        font-weight: 100;
    }
    
.no-row-padding {
    padding: 0;
}
    
    .invite-list-row h5 {
        font-size: 14px;
        font-weight: 100;
        line-height: 29px;
        display: inline-block;
    }
    
    h5 span {
        font-weight: 400;
    }
    
.input-holder {
    margin: 10px auto;
    width: 330px;
    height: 28px;
    border: 1px solid #bbb;
    border-radius: 5px;
    
}
    
    .input-holder input {
        width: 98%;
        border: none;
        font-size: 14px;
        font-weight: 100;
        padding-top: 3px;
        font-family: 'Open Sans', sans-serif;   
    }
    
    input:focus {
        outline: 0 none;
    }
    
    
    