<div class="top center">
    <h3>Connect</h3>
</div>

<div class="connection-invitations">
    <div class="invitations-list">
        <div class="invite-list-row">
            <i class="fa fa-plus"></i>
            <h5>&nbsp;&nbsp;<span>Makenzie Leigh Tester</span> would like to connect with you.</h5>
        </div>
        <div class="invite-list-row">
            <i class="fa fa-plus"></i>
            <h5>&nbsp;&nbsp;<span>Emily Hagen</span> would like to connect with you.</h5>
        </div>
        <div class="invite-list-row">
            <i class="fa fa-plus"></i>
            <h5>&nbsp;&nbsp;<span>Taylor Hagen</span> would like to connect with you.</h5>
        </div>
    </div>

</div>


<div class="search-container">
    <div class="invite-list-row no-row-padding">
        <h4>Make New Connections</h4>
    </div>
    <div class="invite-list-row no-row-padding center">
        <div class="input-holder">
            <input type="text" placeholder="Type a name ...">

        </div>

    </div>


</div>








<div class="action-container">
    <a title="Map View">

        <div class="action-btn" ng-click="mapView()">
            <i class="fa fa-map-o"></i>
        </div>
    </a>

    <div class="action-btn">
        <i class="fa fa-plus"></i>
    </div>

    <a title="Info">
        <div class="action-btn">
            <i class="fa fa-info" ng-click="infoView()"></i>
        </div>
    </a>

    <a href="/auth/logout" title="Sign Out">
        <div class="action-btn">
            <i class="fa fa-sign-out"></i>
        </div>
    </a>
</div>