<div class="connect-view-wrapper">
    <div class="action-container">
        <div class="btns">
            <a title="Map View">
                <div class="action-btn" ng-click="mapView()">
                    <i class="fa fa-map-o"></i>
                </div>
            </a>
            <a title="List View">
                <div class="action-btn" ng-click="listView()">
                    <i class="fa fa-bars"></i>
                </div>
            </a>
            <div class="action-btn active">
                <i class="fa fa-user-plus"></i>
            </div>
            <a title="Info">
                <div class="action-btn" ng-click="infoView()">
                    <i class="fa fa-info"></i>
                </div>
            </a>
            <a href="/auth/logout" title="Sign Out">
                <div class="action-btn">
                    <i class="fa fa-sign-out"></i>
                </div>
            </a>
        </div>
    </div>
    
    <div class="connection-invitations" ng-repeat="invitation in myInvitations">
        <div class="accept-connect-row">
            <div class="split split-plus">
                <div class="add">
                    <i class="fa fa-plus" ng-click="acceptConnection(invitation._id)"></i>
                </div>
            </div>
            <div class="split">
                <h5><span>{{invitation.name}}</span> would like to connect with you.</h5>
            </div>
        </div>
    </div>

    <div class="gen-container">
        <div class="search-container">
            <div class="invite-list-row no-row-padding">
                <h4>Make New Connections</h4>
            </div>
            <div class="invite-list-row no-row-padding center">
                <div class="input-holder">
                    <div angucomplete-alt id="searchUsers" placeholder="Search by name" pause="300" selected-object="userToConnect" local-data="usersInDb"
                    search-fields="name" title-field="name" minlength="3" input-class="input" match-class="highlight" autofocus>
                    </div>
                </div>
                <div class="plus" ng-show="invitationStatus">
                    <i class="fa fa-plus-square-o fa-lg" ng-click="connect()"></i>
                </div>
                <div class="plus" ng-hide="invitationStatus">
                    <i class="fa fa-check fa-lg"></i>
                </div>
            </div>
        </div>
    </div>
</div>